<html>
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>运动缘登录</title>
    </head>
    <body>
        <h1> 这是运动缘用户登录页面 </h1>
        <form action="{% url 'ydy_web:sign_in_result_page' %}" method="post">
            {% csrf_token %}
            用户ID:<br>
            <input type="text" name="user_ID">
            <br>
            <br>
            密码:<br>
            <input type="password" name="password">
            <br>
            <input type="submit"   value="登录">
        </form>         
        <a href="{% url 'ydy_web:sign_up_page' %}">没有账号 注册一个</a>
        <br>
        <br>
        <a href="{% url 'ydy_web:start_page' %}">返回起始页</a>
        <br>
        <p>请登录后操作</p>
    </body>
</html>